body{
    background-color: #D3D0CB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.game{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    height: 150px;
    width: 150px;
    font-size: 100px;
    border: 2px solid black;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box:hover{
    cursor: pointer;
}
